<template>
    <div class="row msg_container base_sent">
        <div class="col-md-10 col-xs-10">
            <div class="messages msg_sent">
                <p>{{message.body}}</p>
            </div>
        </div>
        <div class="col-md-2 col-xs-2 avatar">
            <time datetime="2009-11-13T20:00">{{message.first_name}}</time>
        </div>
    </div>
</template>

<script>
    export default {
     props: ['message']
    }
</script>
