<template>
    <div class="card-footer">
        <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." v-model="messageText" v-on:keyup.enter="sendMessage" />
            <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" id="btn-chat" @click="sendMessage"  >Send</button>
                      </span>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                messageText: ''
            }
        },
        methods: {
        
            sendMessage() {
                this.$emit('messagesent',{
                    body: this.messageText,              
                    first_name: document.querySelector("meta[name='user']").getAttribute('content'),
                    streamId: window.location.pathname.split('/').pop()
                    
                })
                this.messageText = '';
            }
        }
    }
</script>
