@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
.notification {
  text-align: center;
  display: table;
  position: absolute;
  margin: 40px auto 0;
  width: calc(100% - 161px);
  background-color: #0074D9;
  color: #fff;
  z-index: 1;
  transition: all 0.2s ease;
  top: 10px;
  right: 0px;
}
.notification--orange {
  background-color: rgba(243,156,18,0.8);
}


.notification-icon {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  padding: 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}
.notification-icon > i {
  width: 20px;
  font-size: 20px;
}

.notification-body {
  display: table-cell;
  vertical-align: middle;
  /* padding: 15px 20px 8px 32px; */
}
.notification-body > p {
  line-height: 1.2;
  margin-top: 6px;
  margin-bottom: 6px !important;
}



.u-italic {
  font-style: italic;
}

@media only screen and (min-width: 784px) and (max-width: 963px) {
    .notification {
      width: 100%;
    }
}


@media only screen and (max-width: 784px) {
  .notification {
    width: 100%;
  }

}
